<div class="contents row">
    <%= form_for @memo,url:"/memos/#{@memo.id}" do |f| %>
      <h3>
        EDIT
      </h3>
      <%= f.text_area :text, placeholder: "Text",size: "20x10"%>
      <%= f.submit "SENT" %>
    <% end %>
</div>